<h1>Edit a New Food!</h1>

<form action="/foods/<%=@food.id%>" method="POST">
  <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />
  
  <input type="hidden" name="_method" value="put" />

  <label>Food:</label>
  <input type="text" name="name" value="<%=@food.name%>" ><br>
  <label>Calories:</label>
  <input type="number" step ="0.1" name="calories" value="<%=@food.calories%>"><br>
  <button type = "submit">Submit</button>
</form>